header{
    text-align: center;
}
.container{
    background-color: rgb(0, 0, 64);
    color: white;

}
.card{
    display: inline-block;
    margin: 16px;
    margin-top: 5px;
    padding: auto;
}
.card-body{
    color: black;
}
footer{
    background-color: orange;
}
body{
    background-color: aqua;
}